<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rseries" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rseries" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container">
    <section class="col-md-12">
        <header>
          <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
           <%= render 'layouts/messages' %>
           <%= yield %>
        </main>

        <footer>
            <p class="col-md-8">Star Wars, its characters, symbols, and all associated items are the intellectual property of Lucasfilm.
              <br />&copy;2014 Lucasfilm LLC &trade; All rights reserved.</p>
            <p class="col-md-4">Website © Paul Murphy and Dan Kraus 2014</p>
        </footer>
    </section>
  </body>
</html>
